html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'Gloria Hallelujah';
  src: url('/fonts/GloriaHallelujah-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  --lightgray: #f8f8f8;
  --lightgrey: var(--lightgray);
  --mediumgray: #b9b9b9;
  --mediumgrey: var(--mediumgray);
  --darkgray: #777;
  --darkgrey: var(--darkgray);
  --gray: #e9e9e9;
  --dark: #333;
  --black: #141414;
  --white: #fff;
  --primary: #f4a261;
  --red: #eb2f2f;
  --green: #6edd6c;
  --primary-80: rgba(244, 163, 97, 0.8);
  --primary-25: rgba(244, 163, 97, 0.25);
  /* border radius */
  --brs: 5px;
  --brl: 10px;
  /* box shadow */
  --bs: 0 4px 10px 5px rgba(0, 0, 0, 0.25);
  /* font-sizes */
  --xxl: 64px;
  --xl: 48px;
  --l: 32px;
  --m: 24px;
  --nf: 18px;
  --n: 16px;
  --s: 12px;
  --xs: 8px;
  --xxs: 4px;
  /* margins & paddings */
  --xl-vmin: 40vmin;
  --l-vmin: 32vmin;
  --m-vmin: 16vmin;
  --s-vmin: 12vmin;
  --xs-vmin: 8vmin;
  --xxs-vmin: 4vmin;
  --font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-cursive: 'Gloria Hallelujah', cursive;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--n);
  color: var(--dark);
}
@media (min-width: 800px) {
  body {
    font-size: var(--nf);
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a {
  color: var(--primary);
  border-bottom: 2px solid transparent;
}
a:hover {
  border-bottom: 2px solid var(--primary-80);
  color: var(--primary-80);
}
p {
  margin: 0;
  margin-bottom: var(--xxs);
  padding: 0;
  line-height: 1.55;
}
p:last-child {
  margin-bottom: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em;
  padding: 0;
}
h1 {
  font-size: var(--xl);
  font-weight: 900;
  margin: 0.5em 0;
}
h2 {
  font-size: var(--m);
  font-weight: 300;
}
@media (min-width: 800px) {
}
::selection {
  background: var(--primary);
  color: #fff;
}
